html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 7% 93%;
}

#two_elements_menu {
  width: 100%;
  height: 100%;
}

#two_elements_content {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2%;
  overflow: auto;
}

.btn {
  display: block;
  padding: 6px 12px;
  margin: 1%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

a.btn {
  text-decoration: none;
  color: black;
}

.menu_res, .menu_hm {
  vertical-align: baseline;
  margin: 1%;
}

#menu {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: lightblue;
}

.menu_hm {
  text-align: left;
  padding-left: 2%;
  background-color: lightblue;
}

.menu_hm:hover {
  background-color: blue;
  color: white;
  font-size: 1em;
}

.menu_hl1 {
  font-size: 2.7em;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.menu_hl2 {
  font-size: 1em;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.menu_res {
  text-align: right;
  padding-right: 2%;
  background-color: lightblue;
}

.menu_res:hover {
  background-color: blue;
  color: white;
  font-size: 1em;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.description {
  padding-bottom: 3%;
  padding-top: 3%;
}

.description h1 {
  text-align: center;
}

.disclaimer {
  border: 2px solid #2196F3;
  border-radius: 8px;
  background-color: #e7f3fe;
  padding: 1%;
  padding-bottom: 2%;
  margin: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.danger_is_low {
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
  padding: 1%;
}

.danger_is_middle {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
  border-left-padding: 1%;
}

.danger_is_high {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding: 1%;
}

#flash_messages {
  position: fixed;
  right: 1%;
  bottom: 1%;
  height: auto;
  width: 20%;
  float: right;
}

.message_field {
  padding: 5px;
  margin-bottom: 2%;
  border: solid 1px grey;
  border-radius: 8px;
  background-color: lightgrey;
  display: none;
}

.message {
  color: #00529B;
  background-color: #BDE5F8;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.failure {
  color: #D8000C;
  background-color: #FFD2D2;
}

.grid_table {
  display: grid;
  grid-template-columns: auto auto ;
  grid-auto-rows: max-content;
}

.grid_table_head_entry {
  text-align: center;
  font-size: 1.5em;
}

.grid_table_entry {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.grid_table_entry button {
  height: 100%;
  width: 80%;
}

/*# sourceMappingURL=load_batch.css.map */
