@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  font-family: sans-serif;
  font-size: 1.2em;
}

#two_elements_menu {
  width: 100%;
  height: 100%;
}

#two_elements_content {
  overflow-y: auto;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
}

#two_elements_content_frame {
  height: max-content;
  margin-right: 2px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: lightblue;
  border: 5px solid lightblue;
  border-radius: 20px;
}

::-webkit-scrollbar {
  border: solid 2px lightgrey;
  border-radius: 10px;
  margin-left: 2px;
  padding-left: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: lightblue;
  border: solid 2px lightblue;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7cc0d7;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-resizer {
  display: none;
}

.filler, .big_filler, .small_filler, .menu_entry {
  height: 10%;
  display: grid;
  grid-template-columns: 40% 60%;
}

#left_menu {
  width: 100%;
  height: 100%;
}

#left_menu a {
  text-decoration: none;
}

.menu_entry:hover {
  opacity: 0.75;
  cursor: pointer;
}

#left_menu:hover .full_name {
  width: 100%;
}

.big_filler {
  height: 90%;
}

.filler {
  height: 30%;
}

.icon {
  background-color: lightblue;
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 320%;
}

.icon img {
  width: 40%;
  height: auto;
}

.full_name {
  background-color: lightblue;
  width: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
  text-align: left;
  font-size: 120%;
  transition-property: width;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.btn {
  display: block;
  padding: 6px 12px;
  margin: 1%;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 15px;
  color: black;
  background-color: #d2eaf1;
  border-color: #d2eaf1;
}

.btn:hover {
  color: black;
  background-color: #7cc0d7;
  border-color: #d2eaf1;
}

a.btn {
  text-decoration: none;
  color: black;
}

.btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.description {
  padding-bottom: 3%;
  padding-top: 3%;
}

.description h1 {
  text-align: center;
}

.disclaimer {
  border: 2px solid #2196F3;
  border-radius: 8px;
  background-color: #BDE5F8;
  padding: 1%;
  margin: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.danger_is_low {
  background-color: #DFF2BF;
  border-left: 6px solid #04AA6D;
  border-radius: 15px;
  padding: 1%;
}

.danger_is_middle {
  background-color: #FEEFB3;
  border-left: 6px solid #ffeb3b;
  border-radius: 15px;
  padding: 1%;
}

.danger_is_high {
  background-color: #FFD2D2;
  border-left: 6px solid #f44336;
  border-radius: 15px;
  padding: 1%;
}

#flash_messages {
  position: fixed;
  right: 1%;
  bottom: 1%;
  height: auto;
  width: 20%;
  float: right;
}

.message_field {
  padding: 5px;
  margin-bottom: 2%;
  border: solid 1px grey;
  border-radius: 15px;
  background-color: lightgrey;
  display: none;
}

.message {
  color: black;
  background-color: #BDE5F8;
}

.success {
  color: black;
  background-color: #DFF2BF;
}

.warning {
  color: black;
  background-color: #FEEFB3;
}

.failure {
  color: black;
  background-color: #FFD2D2;
}

.wizard-progress {
  display: table;
  width: 100%;
  table-layout: fixed;
  position: relative;
  margin-bottom: 8%;
}
.wizard-progress .step {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  overflow: visible;
  position: relative;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.wizard-progress .step:not(:last-child):before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 37px;
  background-color: white;
  height: 6px;
  width: 100%;
}
.wizard-progress .step .node {
  display: inline-block;
  border: 6px solid white;
  background-color: white;
  border-radius: 18px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -18px;
}
.wizard-progress .step.complete:before {
  background-color: #7cc0d7;
}
.wizard-progress .step.complete .node {
  border-color: #7cc0d7;
  background-color: #7cc0d7;
}
.wizard-progress .step.complete .node:before {
  content: "✓";
}
.wizard-progress .step.in-progress:before {
  background: #7cc0d7;
  background: -moz-linear-gradient(left, #7cc0d7 0%, white 100%);
  background: -webkit-linear-gradient(left, #7cc0d7 0%, white 100%);
  background: linear-gradient(to right, #7cc0d7 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7cc0d7", endColorstr="white",GradientType=1 );
}
.wizard-progress .step.in-progress .node {
  border-color: #7cc0d7;
}

.node:hover {
  opacity: 0.75;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
}
.container.flipped {
  transition: 1.5s ease;
  transform: translate(-50%, -50%) rotateY(180deg);
}
.container.complete .progress_icon-background {
  fill: #a3f1a3;
  stroke: #a3f1a3;
}
.container.complete .error {
  opacity: 0;
  transition: 0.3s ease;
}
.container.error .progress_icon-background {
  fill: #e96969;
  stroke: #e96969;
}
.container.error .check {
  opacity: 0;
  transition: 1.5s ease;
}

.front, .back {
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.rad-progress, .alt-state {
  height: 60px;
}

.rad-progress {
  transform: translate(-50%, -50%) rotateZ(-90deg);
}

.progress-background {
  stroke: lightgrey;
  stroke-width: 8;
  fill: none;
}

.progress-bar {
  stroke: #7cc0d7;
  stroke-width: 8;
  fill: none;
  box-sizing: border-box;
  transition: 0.5s linear;
}

.progress-label {
  font-size: 70%;
}

.progress_icon {
  font-size: 200%;
  color: black;
}
.progress_icon.check::before {
  content: "✓";
}
.progress_icon.error::before {
  content: "✕";
}

.upload_field {
  height: 100%;
  min-height: 70px;
  widht: 100%;
  background-color: #e4f2f7;
  border: dashed 1px #7cc0d7;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin: 1%;
}

.complet {
  border-style: solid;
}

.failed {
  border-color: red;
}

.upload_empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
}

.upload_progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12%;
  padding-right: 25%;
}

.in_drop_zone {
  opacity: 0.75;
}

.grid_table {
  display: grid;
  grid-template-columns: auto auto ;
  grid-auto-rows: max-content;
}

.grid_table_head_entry {
  text-align: center;
  font-size: 1.5em;
}

.grid_table_entry {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5%;
  padding-right: 2%;
}

#progressbar {
  height: 250px;
  margin-top: 5%;
  padding-top: 2%;
}

.grid_table_entry button {
  height: 100%;
  width: 80%;
}

.half_right {
  width: 40%;
  margin-left: 55%;
}

#run_etl {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finish_btn {
  width: 100%;
}

#finish_progress {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finish_progress.upload_progress {
  margin: 0;
  padding: 0;
}

#finish_progress svg.abs-center.rad-progress {
  height: 140px;
}

/*# sourceMappingURL=load_batch.css.map */
