@use 'Layout/layout'
@use 'Widgets/_tooltip'
@use 'Widgets/_grid_table' as grid_table

$bg_color: lightblue !default
$input_border_radius: 15px !default
$bg_color_lighten: #d2eaf1 !default
$bg_color_darken: #7cc0d7 !default

@include grid_table.grid_table(3, ("style": solid, "color": #7cc0d7, "width": 1px))

//  Disclaimer/Legende

%expand_symbol
    padding-left: 2%
    padding-right: 1%

.expanded::before
    @extend %expand_symbol
    content: "-"

.collapsed::before
    @extend %expand_symbol
    content: "+"

.expanded:hover,
.collapsed:hover
    background-color: $bg_color_lighten
    cursor: pointer

table
    width: 80%
    margin-right: 10%
    margin-left: 10%
    border-collapse: collapse
    

th,
td
    border: 1px solid $bg_color_darken
    text-align: center
    padding: 1%

.text
    width: 90%
    padding-left: 5%
    padding-right: 5%
    padding-top: 1%
    padding-bottom: 1%

#desc_functionality,
#legend_kawasaki,
#legend_pims
    display: none



//       Analyse Tabelle    
#filter
    margin: 2%
    display: flex
    justify-content: space-between
    height: 2em

option,
select,
input
    border: solid 1px $bg_color
    border-radius: $input_border_radius

    background-color: $bg_color_lighten
    height: 80%

    padding-inline-start: 10px

option:hover,
select:hover,
input:hover
    outline-width: 2px
    outline-color: $bg_color_darken

option:focus,
select:focus,
input:focus
    outline-width: 2px
    outline-color: $bg_color_darken

option:focus,
select:focus-visible,
input:focus-visible  
    outline-width: 2px
    outline-color: $bg_color_darken

.grid_table_head_entry:hover
    background-color: $bg_color_lighten
    cursor: pointer

.triangle
    pointer-events: none
    text-align: center
    vertical-align: middle
    font-size: 50%

.patientname .grid_table_link
    padding-left: 5px

.patientname .grid_table_link:hover
    background-color: $bg_color_lighten

.grid_table_link:hover
    opacity: 0.5
    cursor: pointer

.grid_table_link:nth-child(3n+2)
    text-align: center

.grid_table_link:nth-child(3n)
    text-align: center

.search_highlight
    background: #eeff15

.grid_table a
    text-decoration: none
    color: black
