@use 'Layout/layout'
@use 'Widgets/_grid_table' as grid_table

@include grid_table.grid_table(3, ("style": solid, "color": lightgrey, "width": 1px))

#result
    margin: 1%
    padding: 1%
    border-radius: 15px

#reason ul
    padding-left: 5%

a
    text-decoration: none
    color: black