<div id="left_menu">
    
    <div class="menu_entry pagename">
        <div class="icon">DS</div> <div class="full_name">Seitenname</div>
    </div>

    <!-- source: <div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    <div class="menu_entry">
        <div class="icon">
            <img src="{{ url_for('static', filename='Icons/data.png') }}" alt="Analyse">
        </div> 
        <div class="full_name">Analyse</div>
    </div>

    <!-- source: <div>Icons made by <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    <div class="menu_entry">
        <div class="icon">
            <img src="{{ url_for('static', filename='Icons/add_one.png') }}" alt="Person hinzufügen">
        </div> 
        <div class="full_name">Person hinzufügen</div>
    </div>

    <!-- source: <div>Icons made by <a href="" title="Rizki Ahmad Fauzi">Rizki Ahmad Fauzi</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    <div class="menu_entry">
        <div class="icon">
            <img src="{{ url_for('static', filename='Icons/add_multiple.png') }}" alt="Datensatz hinzufügen">
        </div> 
        <div class="full_name">Datensatz hinzufügen</div>
    </div>

    <div class="menu_entry filler">
        <div class="icon"></div> <div class="full_name"></div>
    </div>

    <!-- source: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    <div class="menu_entry">
        <div class="icon">
            <img src="{{ url_for('static', filename='Icons/bin.png') }}" alt="Datenbank löschen">
        </div> 
        <div class="full_name">Datenbank löschen</div>
    </div>

    <!-- source: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
    <div class="menu_entry">
        <div class="icon">
            <img src="{{ url_for('static', filename='Icons/logout.png') }}" alt="logout">
        </div> 
        <div class="full_name">Logout</div>
    </div>
    
</div>