<div id="left_menu">

    <a class="menu_entry pagename" href="{{ url_for('main') }}">
        <div class="icon">DS</div>
        <div class="full_name">{{ pagename }}</div>
    </a>

    {% if session["logged_in"] is defined and session["logged_in"] %}

        <!-- source: <div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <a class="menu_entry" href="{{ url_for('results.get_analysis') }}">
            <div class="icon">
                <img src="{{ url_for('static', filename='Icons/data.png') }}" alt="Analyse">
            </div>
            <div class="full_name">Analyse</div>
        </a>

        <!-- source: <div>Icons made by <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <a class="menu_entry" href="{{ url_for('person_data.get_empty_patient_data') }}">
            <div class="icon">
                <img src="{{ url_for('static', filename='Icons/add_one.png') }}" alt="Person hinzufügen">
            </div>
            <div class="full_name">Person hinzufügen</div>
        </a>

        <!-- source: <div>Icons made by <a href="" title="Rizki Ahmad Fauzi">Rizki Ahmad Fauzi</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <a class="menu_entry" href="{{ url_for('data_manager.upload_page') }}">
            <div class="icon">
                <img src="{{ url_for('static', filename='Icons/add_multiple.png') }}" alt="Datensatz hinzufügen">
            </div>
            <div class="full_name">Datensatz hinzufügen</div>
        </a>

        <!-- source: <a href="https://www.flaticon.com/free-icons/download" title="download icons">Download icons created by Iconjam - Flaticon</a> -->
        <form id="pdf_download_form"  method="post">
            <a class="menu_entry" href="javascript: triggerDownload()" onload="isResult()">
                <div class="icon">
                    <img src="{{ url_for('static', filename='Icons/pdf_download.png') }}" alt="Download als PDF">
                </div>
                <div  class="full_name">Download als PDF</div>
                <input type=hidden id="current_url" name = "current_url" />
                <input type=hidden id="current_html" name = "current_html" />

                <script>
                    if (!window.location.href.includes("results") || window.location.href.includes("results/all")){
                        document.getElementById("pdf_download_form").innerHTML = ""
                    }
                    function triggerDownload()
                    {
                            print();
                        }
                </script>
            </a>
        </form>


        <div class="filler">
            <div class="icon"></div>
            <div class="full_name"></div>
        </div>


        <!-- source: <div>Icons erstellt von <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a></div> -->
        <a class="menu_entry" href="{{ url_for('settings') }}">
            <div class="icon">
                <img src="{{ url_for('static', filename='Icons/settings.png') }}" alt="Einstellungen">
            </div>
            <div class="full_name">Einstellungen</div>
        </a>

        <!-- source: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
        <a class="menu_entry" href="{{ url_for('access_control.logout') }}">
            <div class="icon">
                <img src="{{ url_for('static', filename='Icons/logout.png') }}" alt="logout">
            </div>
            <div class="full_name">Logout</div>
        </a>
    {% else %}
        <div class="big_filler">
            <div class="icon"></div>
            <div class="full_name"></div>
        </div>
    {% endif %}

</div>