{% extends "Layout/two_elements_and_menu.html" %}

{% block stylesheets %}
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='CSS/batch_summary.css') }}">
{% endblock %}


{% block title %}
    Analyse
{% endblock %}


{% macro grid_table_entry(probability) %}

    {% if probability <= 0.3 %}
        {% set danger = 'danger_is_low' %}
    {% elif probability <= 0.6 %}
        {% set danger = 'danger_is_middle' %}
    {% else %}
        {% set danger = 'danger_is_high' %}
    {% endif %}

    <div class="grid_table_entry {{danger}}">{{(probability * 100) | round(2)}}%</div>

{% endmacro %}

{% block content %}
    <div class="disclaimer">Hier könnten Sie über Ihren Haftungsauschluss informieren. </div>

    <div class="grid_table">

        <div class="grid_table_head_entry">Patientenname</div>
        <div class="grid_table_head_entry">Kawasaki</div>
        <div class="grid_table_head_entry">PIMS</div>

        {% for patient_id, patient_analysis in analysis_data.items() %}
            <a href="{{url_for('get_person_data', patient_id=patient_id)}}">
                <div class="grid_table_entry">{{patient_analysis.name}}</div>
            </a>
            <a href="{{url_for('result_kawasaki', patient_id=patient_id)}}">
                {{ grid_table_entry(patient_analysis.probability_kawasaki) }}
            </a>
            <a href="{{url_for('result_pims', patient_id=patient_id)}}">
                {{ grid_table_entry(patient_analysis.probability_pims) }}
            </a>
        {% endfor %}

    </div>
{% endblock %}

