{% extends "Layout/two_elements_and_menu.html" %}

{% block stylesheets %}
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='CSS/batch_summary.css') }}">
{% endblock %}


{% block title %}
    Analyse
{% endblock %}

{% block content %}
    <div class="disclaimer">Hier könnten Sie über Ihren Haftungsauschluss informieren.</div>

    <div class="grid_table">

        <div class="grid_table_head_entry">Patientenname</div>
        <div class="grid_table_head_entry">Kawasaki</div>
        <div class="grid_table_head_entry">PIMS</div>

        {% for patient_id, patient_analysis in analysis_data.items() %}
            <a href="{{url_for('get_patient_data', patient_id=patient_id)}}">
                <div class="grid_table_entry" onclick="window.location.href='ALICE/person_data.html';">ALICE</div>
            </a>
            <a><div class="grid_table_entry danger_is_low" onclick="window.location.href='ALICE/result_k.html';">gering</div></a>
            <a><div class="grid_table_entry danger_is_low" onclick="window.location.href='ALICE/result_p.html';">gering</div></a>
        {% endfor %}


        <a><div class="grid_table_entry" onclick="window.location.href='ALICE/person_data.html';">ALICE</div></a>
        <a><div class="grid_table_entry danger_is_low" onclick="window.location.href='ALICE/result_k.html';">gering</div></a>
        <a><div class="grid_table_entry danger_is_low" onclick="window.location.href='ALICE/result_p.html';">gering</div></a>

        <a><div class="grid_table_entry" onclick="window.location.href='BOB/person_data.html';">BOB</div></a>
        <a><div class="grid_table_entry danger_is_low" onclick="window.location.href='BOB/result_k.html';">gering</div></a>
        <a><div class="grid_table_entry danger_is_low" onclick="window.location.href='BOB/result_p.html';">gering</div></a>

        <a><div class="grid_table_entry" onclick="window.location.href='EVE/person_data.html';">EVE</div></a>
        <a><div class="grid_table_entry danger_is_low" onclick="window.location.href='EVE/result_k.html';">gering</div></a>
        <a><div class="grid_table_entry danger_is_high" onclick="window.location.href='EVE/result_p.html';">hoch</div></a>

        <a><div class="grid_table_entry" onclick="window.location.href='MALLOC/person_data.html';">MALLOC</div></a>
        <a><div class="grid_table_entry danger_is_middle" onclick="window.location.href='MALLOC/result_k.html';">mittel</div></a>
        <a><div class="grid_table_entry danger_is_middle" onclick="window.location.href='MALLOC/result_p.html';">mittel</div></a>

    </div>
{% endblock %}

