{% extends "Layout/layout.html" %}

{% block stylesheets %}
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='CSS/load_batch.css') }}">
{% endblock %}


{% block title %}
    Upload
{% endblock %}

{% block content %}
    
    <div class="grid_table">

      <form action = "{{ url_for('upload_data.upload_file') }}" method = "POST" enctype = "multipart/form-data">
          <div class="grid_table_entry"><input type = "file" name = "file" /></div>
          {% if sucsess %}
            <div class="grid_table_entry">SUCCESS</div>
          {% endif %}
          <div class="grid_table_entry"><input class="grid_table_entry" type = "submit"/></div>
          <a href="{{ url_for('upload_data.download_config') }}" title="Dann wieder hochladen"> Konfiguration herunterladen</a>
      </form>
    </div>

{% endblock %}