{% extends "Layout/layout.html" %}

{% block stylesheets %}
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='CSS/main.css') }}">
{% endblock %}


{% block title %}
    Startseite
{% endblock %}
<!-- TODO: rework -->

{% block content %}
    <div class="grid_table_entry disclaimer">Dies ist nur in Mock-up. Alle Seiten sind statisch, das heißt jegliche
        Eingaben haben keinerlei Auswirkungen. Die hier gezeigten Funktionalitäten sind teilweise kontextabhängig,
        ein Fakt der im Rahmen dieses Mock-up nicht beachtet wird. Beispielsweise wird es nur <strong>einmalig</strong>
        möglich sein eine Batch-Datensatz hochzuladen. Im Anschluss ist es dann nur noch möglich einzelne Patienten
        Hinzuzufügen.
    </div>


    <a href="{{ url_for('person_data.get_empty_patient_data') }}" class="btn grid_table_entry">
            Patient anlegen
    </a>

    <a {% if db_empty %} href="{{ url_for('data_manager.upload_page') }}" {% endif %} class="btn grid_table_entry {% if not db_empty %} disabled {% endif %}">
            Datensatz hinzufügen
    </a>
    
    <a {% if not db_empty %} href="{{ url_for('data_manager.reset_db') }}" {% endif %} class="btn grid_table_entry {% if db_empty %} disabled {% endif %}">
            Datenbank zurücksetzen
    </a>

{% endblock %}