<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/main.css">
</head>
<body>

    <div id="two_elements_menu" class="menu">
        <div class="menu_hm">
<!--            <button class="menu_btn" onclick="window.location.href='main.html';">Zum Hauptmenü</button>-->
        </div>
        <div>
            <div class="menu_hl1">Entscheidungsunterstützung</div>
            <div class="menu_hl2"></div>
        </div>
        <div class="menu_res">
            <button class="menu_btn" onclick="window.location.href='batch_summary.html';">Zur Analyse</button>
        </div>
    </div>

    <div id="two_elements_content" class="grid_table">

        <div class="grid_table_entry disclaimer">Dies ist nur in Mock-up. Alle Seiten sind statisch, das heißt jegliche
            Eingaben haben keinerlei Auswirkungen. Die hier gezeigten Funktionalitäten sind teilweise kontextabhängig,
            ein Fakt der im Rahmen dieses Mock-up nicht beachtet wird. Beispielsweise wird es nur <strong>einmalig</strong>
            möglich sein eine Batch-Datensatz hochzuladen. Im Anschluss ist es dann nur noch möglich einzelne Patienten
            Hinzuzufügen.
        </div>
        <div class="grid_table_entry">
            <button onclick="window.location.href='person_data.html';">
                Einzelner Patient
            </button>
        </div>
        <div class="grid_table_entry">
            <button onclick="window.location.href='load_batch.html';">
                Batch-Auswertung
            </button>
        </div>
        <div class="grid_table_entry">
            <button>
                Datenbank zurücksetzen
            </button>
        </div>
    </div>


</body>
</html>