{% extends "Layout/layout.html" %}

{% block stylesheets %}
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='CSS/main.css') }}">
{% endblock %}


{% block title %}
    Startseite
{% endblock %}
<!-- TODO: rework -->

{% block content %}
    <div class="grid_table_entry disclaimer">
    <p>
        Willkommen im Webclient des Entscheidungsunterst&uuml;tzungssystems für das <strong>Kawasaki-Syndrom</strong>
        und <strong>PIMS</strong> (Paediatric inflammatory multisystem syndrome).
        <br/>
        Diese Anwendung soll medizinisches Fachpersonal hinsichtlich der Diagnose der oben genannten Krankheiten
        unterst&uuml;tzen. Das System kann genutzt werden, um eine Wahrscheinlichkeit der Erkrankung für einzelne
        Patienten zu bestimmen. Es ist aber auch m&ouml;glich eine Analyse für Gruppen von Patienten durchzuf&uuml;hren,
         in dem entsprechende Datentabellen hier hochgeladen werden.
        <br/>
        Beachten Sie, dass die hier berechneten Ergebnisse ohne Gew&auml;hr zu verstehen sind. S&auml;mtliche Ergebnisse
        m&uuml;ssen durch medizinisches Fachpersonal auf ihre Richtigkeit &uuml;berpr&uuml;ft werden.
    </p>
    </div>


    <a href="{{ url_for('person_data.get_empty_patient_data') }}" class="btn grid_table_entry">
            Patient anlegen
    </a>

    <a href="{{ url_for('data_manager.upload_page') }}" class="btn grid_table_entry">
            Datensatz hinzuf&uuml;gen
    </a>
    
    <a href="{{ url_for('data_manager.reset_db') }}" class="btn grid_table_entry">
            Datenbank zur&uuml;cksetzen
    </a>

{% endblock %}