{% extends "Layout/layout.html" %}

{% block stylesheets %}
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='CSS/person_data.css') }}">
{% endblock %}


{% block title %}
    Patientendaten
{% endblock %}

{% block content %}
    <form action="{% if patient_id is defined %} {{ url_for('.update_patient_data', patient_id=patient_id) }} {% else %} {{ url_for('.add_patient_data') }} {% endif %}"
        method="post" autocomplete="on" 
    >
        <div class="grid_table">
            {% for name, value in patient_data.items() %}
                <div class="grid_table_entry"><label for="{{ name }}">{{ name }}:</label></div>

                {% if annotations[name] == str %}
                    <div class="grid_table_entry"><input type="text" name="{{ name }}" value="{{ value }}"></div>
                {% elif annotations[name] == bool %}
                    <div class="grid_table_entry"><input type="checkbox" name="{{ name }}" {% if value %} checked {% endif %}></div>
                {% elif annotations[name] == int %}
                    <div class="grid_table_entry"><input type="number" name="{{ name }}" value="{{ value }}" step="1"></div>
                {% elif annotations[name] == float %}
                    <div class="grid_table_entry"><input type="number" name="{{ name }}" value="{{ value }}" step="0.1"></div>
                {% endif %}
            {% endfor %}

            <div class="grid_table_entry"></div><div class="grid_table_entry"><input type="submit" value="Speichern"/></div>
        </div>
    </form>

{% endblock %}
