$btn_text_color: #333 !default
$btn_bg_color: #lightblue !default
$btn_border_color: #light !default
$btn_darken_bg_color: #7cc0d7 !default

.btn
    display: block
    padding: 6px 12px
    margin: 1%
    font-size: 14px
    font-weight: 400
    line-height: 1.42857143
    text-align: center
    white-space: nowrap
    vertical-align: middle
    touch-action: manipulation
    cursor: pointer
    background-image: none
    border: 1px solid transparent
    border-radius: 4px
    
    color: $btn_text_color
    background-color: $btn_bg_color
    border-color: $btn_border_color


.btn:hover
    color: $btn_text_color
    background-color: $btn_darken_bg_color
    border-color: $btn_border_color

a.btn
    text-decoration: none
    color: black