$info_color: #00529B !default
$info_bg_color: #BDE5F8 !default

$success_color: #4F8A10 !default
$success_bg_color: #DFF2BF !default

$warning_color: #9F6000 !default
$warning_bg_color: #FEEFB3 !default

$failure_color: #D8000C !default
$failure_bg_color: #FFD2D2 !default


#flash_messages
    position: fixed
    right: 1%
    bottom: 1%
    height: auto
    width: 20%
    float: right

.message_field
    padding: 5px
    margin-bottom: 2%
    border: solid 1px grey
    border-radius: 8px
    background-color: lightgrey
    display: none

.message
    color: $info_color
    background-color: $info_bg_color

.success
    color: $success_color
    background-color: $success_bg_color

.warning
    color: $warning_color
    background-color: $warning_bg_color

.failure
    color: $failure_color
    background-color: $failure_bg_color

